<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.sharding.mapper.OrderMapper">

    <insert id="insert" parameterType="com.study.sharding.entity.TOrder">
        INSERT INTO t_order ( order_id, user_id, status,create_time)
        VALUES(#{orderId},#{userId},#{status},#{createTime})
    </insert>

    <select id="selectById" parameterType="java.lang.Long" resultType="com.study.sharding.entity.TOrder">
        SELECT * FROM t_order WHERE 1=1
        <if test="order.orderId!=null and order.orderId!=''">
            AND order_id =#{order.orderId}
        </if>
        <if test="order.userId!=null">
            and user_id=#{order.userId}
        </if>
        <if test="order.status!=null and order.status!=9">
            and status=#{order.status}
        </if>
        <if test="order.status!=null and order.status==9">
            and status between 5 and 9
        </if>
        <if test="order.createTime!=null">
            and create_time=#{order.createTime}
        </if>
    </select>

    <select id="selectDetailById" parameterType="java.lang.Long" resultType="java.util.Map">
        SELECT * FROM t_order t LEFT JOIN t_order_detail d ON t.order_id=d.order_id WHERE t.order_id=#{id}
    </select>

</mapper>
